.button{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.6);
    -fx-border-width: 0;
    -fx-background-radius: 0;
}

.button:pressed {
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-border-width: 0;
    -fx-background-radius: 0;
}

.text-field {
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-prompt-text-fill: white;
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-text-fill: white;
}

.password-field {
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-prompt-text-fill: white;
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-text-fill: white;
}

.combo-box {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-text-fill: white;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-border-radius: 0;
}
.combo-box-popup .list-view {
    -fx-background-color: rgba(0, 0, 0, 0.6);
    -fx-text-fill: white;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-border-radius: 0;
}

.combo-box .list-cell{
    -fx-background-color:transparent;
    -fx-text-fill: white;
}

.combo-box .list-cell:hover{
    -fx-background-color:rgba(0, 0, 0, 0.6);
}

.combo-box .list-cell:pressed{
    -fx-background-color:rgba(0, 0, 0, 0.7);
}